<div class="page__header">
    <p class="label__date">{{ date | date: 'longDate' }}</p>
    <div class="city__select">
        <label for="city-select">pesquisar por cidade</label>
        <input type="text" name="city-select" id="city-select" value="São Paulo" disabled>
        <span aria-hidden="false" class="icon__select"></span>
    </div>
</div>

<div class="page__content">
    <div class="page__title-about d-flex">
        <h2>Risco de uma pandemia</h2>
        <span class="flag-status flag-status--warning">
            <span class="flag-status__icon"></span>
            <span class="flag-status__name">alta</span>
        </span>
    </div>
</div>

<div class="overview overview--md">
    <p class="overview__category">overview</p>
    <p class="overview__status">
        <span class="overview__percentage">76%</span>
        <span class="divider__bullet" aria-hidden="true"></span>
        <span>de uma possível pandemia</span>
    </p>
    <app-progress-bar percentage="76"></app-progress-bar>
</div>

<div class="chart">
    <div class="chart__header d-flex">
        <h3 class="chart__title">2019<span class="divider__bullet" aria-hidden="true"></span>2020
        </h3>
        <span class="flag-status flag-status--warning flag-status--full flag-status--small">
            <span class="flag-status__name">óbitos</span>
        </span>
    </div>
    <div class="chart__content">
        <app-line-chart [data]="dataLineChart"></app-line-chart>
    </div>
</div>

<div class="grid-info">
    <app-chart-detail *ngFor="let data of dataChartDetail" [data]="data"></app-chart-detail>
</div>

