<div class="page__header">
    <p class="label__date">{{ date | date: 'longDate' }}</p>
    <div class="city__select">
        <label for="city-select">pesquisar por cidade</label>
        <input type="text" name="city-select" id="city-select" value="São Paulo" disabled>
        <span aria-hidden="false" class="icon__select"></span>
    </div>
</div>
<div class="page__content">
    <div class="page__title-about d-flex">
        <h2>Risco de uma pandemia</h2>
        <span class="flag-status flag-status--warning">
            <span class="flag-status__icon"></span>
            <span class="flag-status__name">alta</span>
        </span>
    </div>
</div>
