/* You can add global styles to this file, and also import other style files */

/* =Fonts
-------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500;600;800&family=Montserrat:wght@500;600;800&display=swap');

/* =Reset
-------------------------------------------------------------- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

html,
body,
div{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Catamaran', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

/* =Estrutura principal
-------------------------------------------------------------- */

#app {
    height: 100%;
}


/* =media queries
-------------------------------------------------------------- */
@media screen and (min-width: 1000px) {
    #app {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: 100vh;
        overflow-y: auto;
    }

    main {
        margin-left: 28.8%;
        width: 100%;
    }

    .main__wrp {
        padding: 54px;
    }
}

