/* You can add global styles to this file, and also import other style files */

/* =Fonts
-------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500;600;800&family=Montserrat:wght@500;600;800&display=swap');

/* =Reset
-------------------------------------------------------------- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

html,
body,
div{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Catamaran', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

/* =Estrutura principal
-------------------------------------------------------------- */

#app {
    height: 100%;
}

.main__wrp {
    padding: 30px;
}

.d-flex {
    display: flex;
}

/* =utils
-------------------------------------------------------------- */

.divider__bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #ACC6DD;
    border-radius: 50px;
    margin: auto 12px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* =flags
-------------------------------------------------------------- */

.flag-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 36px;
    text-align: center;
    border: 2px solid #cccccc;
    border-radius: 6px;
    color: #444444;
}

.flag-status.flag-status--small {
    width: 60px;
    height: 30px;
}

.flag-status.flag-status--warning {
    border-color: #9A36BB;
    color: #9A36BB;
}

.flag-status.flag-status--warning.flag-status--full {
    border: 0;
    color: #9A36BB;
    background-color: #F2D6FC;
}

.flag-status .flag-status__icon {
    display: inline-block;
    width: 17px;
    height: 16px;
    background: url('./assets/images/long_up.svg') no-repeat 0 0;
}


/* =media queries
-------------------------------------------------------------- */
@media screen and (min-width: 1025px) {
    #app {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: 100vh;
        overflow-y: auto;
    }

    main {
        margin-left: 28.8%;
        width: 100%;
    }

    .main__wrp {
        padding: 54px;
    }

    .page__dflex-lg {
        display: flex;
    }
}


